<!doctype html>
<html>
    <head>
        <head>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="/stylesheets/lib.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>Finstagram</title>
    </head>

    <body>
        <header>

            <div class="left">
                <div class="logo">
                    <a href="/"><img src="/images/sharkFin.png"></a>
                </div>
                <div class="finsta">
                    <a href="/">Finstagram</a>
                </div>
            </div>

            <div class="right">
                <div class="currentUser">
                    <% if current_user %>
                    
                        <a class="user" href='/<%= current_user.username %>'}><%= current_user.username %></a>
                        <a class="logout" href = "/logout">Logout</a>
                    <% else %>
                        <a class="user" href = "/login">Login</a>
                        <a href="/signup">Signup</a>
                    <% end %>
                </div>
            </div>

        </header>
        
        <main role="main">
            <%= yield %>
        </main>
        
    </body>
    
</html>