<div class="profile">
    <div class="content container" id="userInfo">
        <div class="row" id="profileInfo">
            <div class="col-md-8 col-xs-6">

                <div class="user-stats">
                    <span id="postNum"><h5><b><%= @user.posts_count.count %></b> 
                        <% if @user.posts_count.count == 1 %>
                            post
                        <% else %>
                            posts
                        <% end %>
                    </h5></span>
                    <span id="follow"><h5><b><%= @user.followers_count%></b> followers</h5></span>
                    <span id="follow"><h5><b><%= @user.following_count%></b> following</h5></span>
                </div>
                <div class="bio">
                    <h5><%= @user.bio %></h5>
                </div>
            </div>
        </div>
    </div>
</div>